<h2>New List</h2>

<form class="" action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Assign a name to your list:</label>
    <input class="form-control" type="text" name="name" placeholder="List Name" autofocus>
    <button type="submit" class="button btn">Add List</button>
  </div>
</form>
